# Environment
.env
.env.local
.env.production

# Dependencies
node_modules/

# Build output
build/
.cache/
theme/
# Database
*.db
*.db-journal
prisma/migrations/

# Shopify CLI
.shopify/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
