<div class="cart-summary__container flex flex-col gap-5 xl:gap-6">
  {% if settings.show_free_shipping_goal and settings.free_shipping_goal_amount != blank %}
    <div class="cart-summary__free-shipping-goal">
      {% render 'free-shipping-goal', section: section %}
    </div>
  {% endif %}
  {% if settings.show_add_discount_code
    or settings.show_cart_note
    or settings.show_caculate_shipping_rate
  %}
    <accordion-component
      class="accordion cart-summary__addons flex flex-col"
      data-single-open="true"
    >
      {% if settings.show_add_discount_code %}
        <details
          ref="item[]"
          class="accordion__details cart-summary__addon"
          data-skip-node-update="true"
        >
          <summary ref="summary[]" class="accordion__summary flex" on:click="/onSummaryClick">
            <span class="accordion__summary-text h6">{{ 'actions.discount_code' | t }}</span>
            {% render 'icon',
              icon: 'caret-down',
              class: 'icon--caret flex accordion__summary-arrow'
            %}
          </summary>
          <div ref="content[]" class="accordion__content">
            <div class="accordion__inner">
              {% render 'cart-discount', section_id: section.id %}
            </div>
          </div>
        </details>
      {% endif %}
      {% if settings.show_cart_note %}
        <details ref="item[]" class="accordion__details cart-summary__addon">
          <summary ref="summary[]" class="accordion__summary flex" on:click="/onSummaryClick">
            <span class="accordion__summary-text h6">{{ 'actions.order_notes' | t }}</span>
            {% render 'icon',
              icon: 'caret-down',
              class: 'icon--caret flex accordion__summary-arrow'
            %}
          </summary>
          <div ref="content[]" class="accordion__content">
            <div class="accordion__inner">
              {% render 'cart-note', section: section %}
            </div>
          </div>
        </details>
      {% endif %}
      {% if settings.show_caculate_shipping_rate %}
        <details ref="item[]" class="accordion__details cart-summary__addon">
          <summary ref="summary[]" class="accordion__summary flex" on:click="/onSummaryClick">
            <span class="accordion__summary-text h6">{{ 'actions.shipping' | t }}</span>
            {% render 'icon',
              icon: 'caret-down',
              class: 'icon--caret flex accordion__summary-arrow'
            %}
          </summary>
          <div ref="content[]" class="accordion__content">
            <div class="accordion__inner">
              {% render 'cart-shipping', section: section %}
            </div>
          </div>
        </details>
      {% endif %}
    </accordion-component>
  {% endif %}
  {% render 'cart-summary', section: section, context: 'cart-page' %}
</div>

{% schema %}
{
  "name": "t:names.summary",
  "tag": null,
  "presets": [
    {
      "name": "t:names.summary"
    }
  ]
}
{% endschema %}
